*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    border: none;
}

.grid{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;

}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background-image: url('../img/bg.jpg');
    padding: 20px 20px 50px;
    background-size: cover;
    background-position: center;
    font-size: 1.2em;
    font-weight: 600;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 800px;
    width: 100%;
    padding: 30px;
    margin: 0 0 30px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.8);
}

.card{
    width: 100%;
    aspect-ratio: 3/4;
    border-radius: 5px;
    position: relative;
    transition: all 400ms ease;
    transform-style: preserve-3d ;
    background-color: #ccc;
}

.face{
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: cover;
    background-position: center;
    border: 2px solid #39813a;
    border-radius: 5px;
    transition: all 400ms ease;
}

.front{
    transform: rotateY(180deg);
    
}
.back{
    background-image: url('../img/back.png');
       backface-visibility: hidden;
}
.reveal-card{
    transform: rotateY(180deg);
}
.card:hover{
}

.disabled-card{
    filter: saturate(0);
    opacity: 0.5;
}
.logo{
    min-width: 300px;
    width: 24%;
}

@media (max-width: 768px){
    .grid{
        grid-template-columns: repeat(4, 1fr);
    }
    
}